<a href="https://colab.research.google.com/github/vikasstudy/deep-learning-keras-tf-tutorial/blob/master/MercedesBenzGreenerManufacturing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [58]:
# lets use pandas to load csv files we have
df_train = pd.read_csv('train.csv')
print(df_train.shape)
#df_train.head()

df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head()

(4209, 378)
(4209, 377)

   ID  X0 X1  X2 X3 X4 X5 X6  ... X377  X378  X379  X380  X382  X383  X384  X385
0   1  az  v   n  f  d  t  a  ...    0     1     0     0     0     0     0     0
1   2   t  b  ai  a  d  b  g  ...    1     0     0     0     0     0     0     0
2   3  az  v  as  f  d  a  j  ...    0     1     0     0     0     0     0     0
3   4  az  l   n  f  d  z  l  ...    0     1     0     0     0     0     0     0
4   5   w  s  as  c  d  y  i  ...    0     0     0     0     0     0     0     0

[5 rows x 377 columns]

In [59]:
# seperate the y from the data as we will use this to learn as 
# the prediction output
column_name = ['y','ID']
y_train = df_train['y'].values
print(y_train.shape)
x_train=df_train.drop(column_name,axis='columns')
print(x_train.sample(4))

x_test=df_test.drop('ID',axis='columns')

(4209,)
      X0 X1  X2 X3 X4  X5 X6 X8  ...  X377  X378  X379  X380  X382  X383  X384  X385
4064  ay  i  as  a  d   w  j  j  ...     1     0     0     0     0     0     0     0
3227   y  b   r  a  d   s  g  b  ...     1     0     0     0     0     0     0     0
791    n  t  ak  f  d  af  a  o  ...     0     0     0     0     0     0     0     0
1961   z  b  ai  c  d  ah  l  q  ...     1     0     0     0     0     0     0     0

[4 rows x 376 columns]

In [60]:
#Check for null  values for test and train sets

def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")

In [61]:
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [62]:
#Check for unique values for test and train sets


def check_unique_values(df):
  no_varience_colls =  []

  for column in df:
    
    cardinality =  len(np.unique(df[column]))
    if cardinality > 1 :
          cardinality;
          #print("There are more unique values so varience wont be 0")
    else:
       # print("before varience is 0 for column " + no_varience_colls)
        no_varience_colls.append(column)
        #  no_varience_colls.iloc(column) =column
       # print("varience is 0 for column " + no_varience_colls)
  return no_varience_colls ;

In [63]:

no_varience_colls = check_unique_values(x_train)
# no Varience collumn dropped
x_train=x_train.drop(no_varience_colls,axis='columns')
x_train.shape

(4209, 364)

In [64]:
x_test.sample()

no_varience_colls = check_unique_values(x_test)
# no Varience collumn dropped
x_test=x_test.drop(no_varience_colls,axis='columns')
x_test.shape

(4209, 371)

In [65]:
#label encoder function

from sklearn.preprocessing import LabelEncoder

def lable_Encoder(df):
 # creating instance of labelencoder
    labelencoder = LabelEncoder()

    for column in df:  
    #  print(column)  
      df[column]  =labelencoder.fit_transform(df[column])

    return df

In [66]:
#Apply label encoder.


x_lable_train=lable_Encoder(x_train)
print(x_lable_train.head() )

x_lable_test=lable_Encoder(x_test)
print(x_lable_test.head())

   X0  X1  X2  X3  X4  X5  X6  ...  X378  X379  X380  X382  X383  X384  X385
0  32  23  17   0   3  24   9  ...     0     0     0     0     0     0     0
1  32  21  19   4   3  28  11  ...     0     0     0     0     0     0     0
2  20  24  34   2   3  27   9  ...     0     0     0     1     0     0     0
3  20  21  34   5   3  27  11  ...     0     0     0     0     0     0     0
4  20  23  34   5   3  12   3  ...     0     0     0     0     0     0     0

[5 rows x 364 columns]
   X0  X1  X2  X3  X4  X5  X6  ...  X378  X379  X380  X382  X383  X384  X385
0  21  23  34   5   3  26   0  ...     1     0     0     0     0     0     0
1  42   3   8   0   3   9   6  ...     0     0     0     0     0     0     0
2  21  23  17   5   3   0   9  ...     1     0     0     0     0     0     0
3  21  13  34   5   3  31  11  ...     1     0     0     0     0     0     0
4  45  20  17   2   3  30   8  ...     0     0     0     0     0     0     0

[5 rows x 371 columns]

In [67]:
# Perform dimensionality reduction using PCA
from sklearn.decomposition import PCA
n_comp = 12
pca = PCA(n_components=n_comp, random_state=364)
pca.fit(x_lable_train)

pca2_results_train = pca.transform(x_lable_train)
pca = PCA(n_components=n_comp, random_state=371)
pca.fit(x_lable_test)
pca2_results_test = pca.transform(x_lable_test)


print(pca2_results_train.shape)

print(pca2_results_test.shape)

(4209, 12)
(4209, 12)

In [68]:
#Predict  test_df values using XGBoost.
import xgboost as xgb
from numpy import absolute
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [69]:
print(x_lable_train.shape)
print(y_train.shape)
print(df_train['y'].shape)

(4209, 364)
(4209,)
(4209,)

In [84]:

# create an xgboost regression model
model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8,verbosity=0) #n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8
#without parameters score was 60% so tuned it by random take .
print(model)

model.fit(pca2_results_train,y_train)
scores=model.score(pca2_results_train,y_train)
print("Training Score :" ,scores )
# evaluate model
cv_scores = cross_val_score(model, pca2_results_train, y_train, cv=5)

# force scores to be positive
#scores = absolute(scores)
print("Mean Score :" ,cv_scores.mean() )
cv_scores

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=7, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.7, verbosity=0)
Training Score : 0.9643803723984334
Mean Score : 0.3873049854642515

array([0.42502732, 0.30546076, 0.41912685, 0.3601005 , 0.4268095 ])

In [88]:
#prediction of test dataset
test_pred = model.predict(pca2_results_train)
print(y_train.mean())
print(test_pred.mean())

100.66931812782134
100.674126