<a href="https://colab.research.google.com/github/vikasstudy/deep-learning-keras-tf-tutorial/blob/master/Pets_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Load tensorflow
import tensorflow as tf
import glob

In [8]:
#create excel data
import pandas as pd1
import pandas as pd2

In [11]:
df_train = pd1.DataFrame(columns=['class','dir','image_file']) 
df_test = pd2.DataFrame(columns=['class','dir','image_file'])

train_cats_dogs=list()
train_cats_dogs_class=list()
test_cats_dogs=list()
test_cats_dogs_class=list()

In [17]:
#Parse .jpg image files located in /data/*/*/*jpg and make train, test csv.

for entry in glob.glob('./data/*/*/*jpg'):
  cats_dogs = entry
  if "/train" in cats_dogs:
    train_cats_dogs.append(cats_dogs)
    cats_dogs_dir = cats_dogs[0:cats_dogs.rfind('/')]
    cats_dogs_class = cats_dogs_dir[cats_dogs_dir.rfind('/')+1:]
    df_train.loc[df_train.shape[0]] = [cats_dogs_class, cats_dogs_dir, cats_dogs]


  if "/test" in cats_dogs:
    test_cats_dogs.append(cats_dogs)
    cats_dogs_dir = cats_dogs[0:cats_dogs.rfind('/')]
    cats_dogs_class = cats_dogs_dir[cats_dogs_dir.rfind('/')+1:]
    df_test.loc[df_test.shape[0]] = [cats_dogs_class, cats_dogs_dir, cats_dogs]


print('Total images: ', df_train.shape[0])
df_train.head()

print('Total images: ', df_test.shape[0])
df_test.head()

Total images:  0
Total images:  0

Empty DataFrame
Columns: [class, dir, image_file]
Index: []